@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #137fec;
  --color-primary-content: #ffffff;
  --color-primary-dark: #0b5ed7;
  --color-primary-light: #e0f2fe;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
  --color-surface-light: #ffffff;
  --color-surface-dark: #1e293b;
  --color-text-main: #0f172a;
  --color-text-secondary: #64748b;
  --color-border-light: #e2e8f0;
  --color-border-dark: #334155;

  --font-display: Lexend, sans-serif;
  --font-sans: Lexend, sans-serif;

  --radius-default: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;

  @keyframes bounce-slow {

    0%,
    100% {
      transform: translateY(-5%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  @keyframes ping-slow {

    75%,
    100% {
      transform: scale(1.5);
      opacity: 0;
    }
  }

  @keyframes progress-indeterminate {
    0% {
      transform: translateX(-100%) scaleX(0.2);
    }

    50% {
      transform: translateX(0%) scaleX(0.5);
    }

    100% {
      transform: translateX(100%) scaleX(0.2);
    }
  }

  --animate-bounce-slow: bounce-slow 2s infinite;
  --animate-ping-slow: ping-slow 2s cubic-bezier(0, 0, 0.2, 1) infinite;
  --animate-progress-indeterminate: progress-indeterminate 2s linear infinite;
}

@layer base {
  html {
    font-size: 12px;
  }

  body {
    font-family: var(--font-display);
    @apply bg-background-light dark:bg-background-dark text-text-main dark:text-white antialiased;
  }
}

/* Material Symbols configuration */
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

/* Global Custom Scrollbars: Thin, transparent, only visible on hover */
* {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

*:hover {
  scrollbar-color: rgba(100, 116, 139, 0.1) transparent;
}

/* Webkit browser scrollbars */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 9999px;
  border: 1px solid transparent;
  background-clip: padding-box;
  transition: background 0.2s ease-in-out;
}

*:hover::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 116, 139, 0.3);
}